name: Delete Package (container)

on:
  #push:
  #  paths-ignore:
  #    - '**.md'
  #    - 'LICENSE'
  workflow_dispatch: # 手动执行时候可以配置的参数
    inputs:
      pkgName:
        description: 'Delete pkg name'
        type: choice
        default: "nginx-builds/base"
        required: false
        options: 
        - nginx-builds/base
        - nginx-builds/base-win64
        - nginx-builds/win64-gpl
        - nginx-builds/win64-lgpl
        - nginx-builds/win64-gpl-shared
        - nginx-builds/win64-lgpl-shared
        - all
        - all-new
env:
  DOCKER_BUILDKIT: 1

jobs:
  del_pkg:
    name: Delete packages ${{ github.event.inputs.pkgName }}
    if: ${{ github.event.inputs.pkgName != '' }}
    runs-on: ubuntu-latest
    steps:
      - name: Delete image ${{ github.event.inputs.pkgName }}
        uses: actions/delete-package-versions@v5
        with: 
          owner: 'indiff'
          package-name: "${{ github.event.inputs.pkgName }}"
          package-type: 'container'
          min-versions-to-keep: 0
          delete-only-untagged-versions: 'false'
  del_pkg_all:
    name: Delete all packages
    if: ${{ github.event.inputs.pkgName == 'all' }}
    runs-on: ubuntu-latest
    steps:
      - name: Delete image nginx-builds/win64-lgpl-shared
        uses: actions/delete-package-versions@v5
        with: 
          owner: 'indiff'
          package-name: 'nginx-builds/win64-lgpl-shared'
          package-type: 'container'
          min-versions-to-keep: 0
      - name: Delete image nginx-builds/win64-gpl-shared
        uses: actions/delete-package-versions@v5
        with: 
          owner: 'indiff'
          package-name: 'nginx-builds/win64-gpl-shared'
          package-type: 'container'
          min-versions-to-keep: 0
      - name: Delete image nginx-builds/win64-lgpl
        uses: actions/delete-package-versions@v5
        with: 
          owner: 'indiff'
          package-name: 'nginx-builds/win64-lgpl'
          package-type: 'container'
          min-versions-to-keep: 0
      - name: Delete image nginx-builds/win64-gpl
        uses: actions/delete-package-versions@v5
        with: 
          owner: 'indiff'
          package-name: 'nginx-builds/win64-lgpl-shared'
          package-type: 'container'
          min-versions-to-keep: 0
      - name: Delete image nginx-builds/win64-gpl
        uses: actions/delete-package-versions@v5
        with: 
          owner: 'indiff'
          package-name: 'nginx-builds/win64-gpl'
          package-type: 'container'
          min-versions-to-keep: 0
      - name: Delete image nginx-builds/base-win64
        uses: actions/delete-package-versions@v5
        with: 
          owner: 'indiff'
          package-name: 'nginx-builds/base-win64'
          package-type: 'container'
          min-versions-to-keep: 0
      - name: Delete pkg by github api
        if: ${{ github.event.inputs.pkgName == 'all_new' }}
        run: |
          # delete packages by github api
          # 使用 GitHub API 获取最后一次提交信息 
          #   https://api.github.com/users/USERNAME/packages/PACKAGE_TYPE/PACKAGE_NAME
          commit_info=$(curl -s -H "X-GitHub-Api-Version: 2022-11-28" \
          -H "Authorization: Bearer $GITHUB_TOKEN" \
          -H "Accept: application/vnd.github.v3+json" \
          -X DELETE \
          https://api.github.com/users/indiff/packages/container/nginx-builds/base-win64 \
          | jq -r '.[0]')
        env:
            GITHUB_TOKEN: ${{ github.token }}